@using Architecture3.Common.Web
<!DOCTYPE html>
<html>
<head>
    <title>
        @{
            var model = Model as IPageModel;
        }
        @(model != null ? model.Title : "No title")
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Static/Content/css/app.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/Static/Scripts/jquery.min.js"></script>
    <script src="~/Static/Scripts/bootstrap.min.js"></script>
</body>
</html>